*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
}

.grid-conteiner{
    display: grid;
    background-color: rgb(230, 230, 252);
    grid-template-areas:    
                            'title title title'
                            'redes auto infra' 
                            'footer footer footer';
}


.grid-title{
    padding: 30px;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    text-decoration: underline;

}

.boxRedes{
    padding: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.boxInfra{
    padding: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
}


.grid-title{
    grid-area: title;
    margin-top: 70px;
}

.boxRedes{
    grid-area: redes;
    background-color: #0D6FDB;
    color: white;
    border-radius: 0 30px;
    padding: 20px;
    margin: 20px;
}
 .boxInfra{
    grid-area: infra;
    background-color: #0D6FDB;
    color: white;
    border-radius: 0 20px;
    padding: 20px;
    margin: 20px;

}

.grid-footer{
    grid-area: footer;
    height: 170px;
    background: black;
    display: inline-flex;
    justify-content: space-around;
}

.ofice{
    padding: 20px;
    color: white;
    font-size: 14px;
}

footer iframe{
    position: relative;
    max-height: 100%;
    width: 200px;
}

.redes-conteiner{
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 100px;   
}
.redes-conteiner img{
    width: 60px;
    height: 60px;
    padding: 15px;
    margin: 0 20px;
    filter: grayscale(100%);
}

.redes-conteiner img:hover{
    filter: grayscale(0%);
    transform: scale(1.5);
}



@media (max-width:768px){
    .grid-conteiner{
        display: grid;
        grid-template-areas:   
                                'title'
                                'redes'
                                'infra' 
                                'footer'
                                ;
    }

    .grid-title{
        display: flex;
        justify-content: center;
        text-decoration: underline;
        font-size: 18px;
        font-weight: 700;
    }

  
    .boxRedes{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .boxInfra{
        padding: 20px;
        display: flex;
        flex-direction: column;
        text-align: center;

    }

}